html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    color: #577a92;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

body > aside {
    width: 35%;
    height: 100%;
    z-index: 1;
    background: rgba(131, 131, 131, 0.2);
    color: #E9F1E9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 6%;
    box-sizing: border-box;
}

body > aside > * {
    padding-left: 10%;
}

#aside-background {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 35%;
    z-index: -1;
    background: url("../assets/background.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(3.5px) contrast(85%);
}

body > aside div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

body > aside div img {
    width: 15%;
}

body > aside div h1:first-of-type {
    font-weight: 400;
    font-size: 2em;
}

body > aside div h1:first-of-type strong {
    font-weight: 700;
}

body > aside div h3 {
    font-weight: 500;
    font-size: 1.15em;
    margin-top: 15%;
    background-color: white;
    border: 12px solid white;
    color: #577a92;
}

body > aside li {
    display: block;
    font-size: 1.4em;
    margin-bottom: 1vw;
    opacity: 0.7;
    transition: all .3s ease-out;
}

body > aside li:hover, body > aside li:active {
    opacity: 1;
    color: white;
}

body > aside li.active {
    opacity: 1;
    font-weight: 700;
}

body > aside li img {
    height: 0.9em;
    vertical-align: text-bottom;
    position: relative;
    bottom: 1px;
}

body > aside a {
    color: inherit !important;
    text-decoration: none;
}

body > aside p {
    font-weight: 500;
    font-size: 1.1em;
}

body > aside p a {
    opacity: 0.7;
    transition: all .3s ease-out;
}

body > aside p a:hover, body > aside p a:active {
    opacity: 1;
}

body > aside p img {
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}



div.anchors {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -9;
    width: 0px;
    height: 0px;
}



section header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    position: fixed;
    left: 5%;
    bottom: 85%;
}

section:first-of-type header {
    bottom: 84.5%;
}

section header h1 {
    font-weight: 700;
    font-size: 1.7em;
    text-transform: uppercase;
    border-bottom: 4px solid #577a92;
    padding-bottom: 6px;
}

section nav {
    position: fixed;
    right: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

section header nav ul {
    margin: 0px;
    margin-bottom: 5px;
}

section nav li {
    display: block;
}

section nav a {
    color: inherit !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3em;
    opacity: 0.8;
    transition: all .3s ease-out;
}

section nav img {
    height: 0.9em;
    vertical-align: text-bottom;
    position: relative;
    bottom: 2px;
    filter: brightness(40%);
}

section nav a:hover, section nav a:active {
    opacity: 1;
}
