@media only all and (min-width: 900px) {
    
    body > aside {
        position: fixed;
        left: 0px;
        background: none;
        transition: all .7s ease-out !important;
    }
    
    body > aside > * {
        transition: all .7s ease-out;
    }
    
    body > aside.landing-page {
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding: 0px;
        animation-name: landing-appear;
        animation-duration: 1.5s;
        animation-delay: 0.7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
    @keyframes landing-appear {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    #aside.landing-page > h1 {
        display: block !important;
        color: white;
        position: fixed;
        top: 43vh;
        left: 45vw;
        text-align: center;
        padding: 0px;
        font-size: 40px;
    }
    
    #aside.landing-page > nav {
        text-align: center;
        padding: 0px;
        margin: 0px;
        animation-name: landing-nav-appear;
        animation-delay: 0.8s;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        margin-bottom: 0px;
    }
    
    @keyframes landing-nav-appear {
        0% {
            margin-bottom: 0px;
        }
        100% {
            margin-bottom: 30px;
        }
    }
    
    #aside.landing-page > nav > ul {
        padding: 0px;
    }
    
    #aside.landing-page p {
        padding-left: 0px;
    }
    
    #aside.landing-page > div {
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 0px;
        margin: auto;
        margin-top: 20vh;
    }
    
    #aside.landing-page > div > img {
        width: 150px;
        margin-bottom: -50px;
        transform: rotateZ(-29deg);
        margin-left: 20px;
    }
    
    #aside.landing-page > div > h1 {
        opacity: 0;
        height: 0px;
        width: 0px;
    }
    
    #aside.landing-page > div > h3 {
        margin-top: 200px;
    }
    
    body > aside::after {
        content: "";
        position: fixed;
        top: 0px;
        left: 0px;
        width: 90vw;
        height: 100vh;
        background: rgba(131, 131, 131, 0.15);
        z-index: -1;
    }
    
    body > aside.landing-page::after {
        width: 100vw;
    }
    
    #aside-background {
        width: 90vw;
        transition: all .7s ease-out;
    }
    
    section {
        width: 65%;
        height: 105%;
        transform: rotate(-4deg) translateZ(.1em) !important;
        position: relative;
        top: -6%;
        left: 100%;
        padding-top: 5%;
        background: white;
    }

    .anchors.section:target + * + section, .anchors.aside:target + section {
        left: 32%;
        transition: left .6s ease-out, filter .1s linear !important;
    }

    section:first-of-type {
        z-index: 2;
    }

    section {
        position: absolute;
        transition: left .6s ease-in, filter .1s linear;
        left: 120vw;
        border-right: 60px solid white;
    }

    .anchors#Page2 + * + section {
        z-index: 3;
    }

    .anchors#Page3 + * + section {
        z-index: 4;
    }

    section > * {
        perspective: 1000px; /* Fixes blurry text (triggers GPU acceleration) */
        transform: rotate(4deg) translateZ(.1em); /* rotation + blurry text */
    }

    section > article, section > aside {
        position: fixed;
        top: 19%;
        left: 6%;
        height: 70%;
        width: 93%;
        overflow-x: hidden;
        overflow-y: auto;

        border: 5px solid white;
        box-sizing: border-box;
    }

    section > article p, section > aside p {
        margin: 0px;
        font-size: 1.06em;
        text-align: justify;
        white-space: pre-line;
        overflow-wrap: break-word;
    }

    section > aside {
        z-index: -1;
        background-color: white;
        opacity: 0;
        transition: opacity .6s ease-out, z-index .1s linear .6s;
    }

    .anchors.aside:target + section > aside {
        opacity: 1;
        z-index: 99;
        transition: opacity .6s ease-out;
    }
    
    section header ul {
        padding: 0px;
    }
    
    section header div {
        position: fixed;
        right: 5px;
        padding-right: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        z-index: -1;
        opacity: 0;
        transition: opacity .6s ease-out, z-index .1s linear .6s;
    }

    section header div {
        top: 0px;
    }
    
    section header div nav {
        position: fixed;
        left: 0px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    section header div nav img {
        transform: rotate(180deg);
    }

    .anchors.aside:target + section header div {
        opacity: 1;
        z-index: 99;
        transition: opacity .6s ease-out;
    }
    
    .anchors.aside:target + section header > *:not(div) {
        opacity: 0;
        transition: opacity .6s ease-out;
    }
    
    section header.alternative {
        display: none;
    }
    
}
