@media only all and (max-width: 900px) {
    html, body {
        height: auto;
    }
    
    body {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #aside-background {
        top: 0px;
        width: 100%;
        height: 100vh;
    }
    
    body > aside {
        width: 100%;
        height: auto;
        padding-bottom: 45px;
        padding-top: 50px;
        align-items: center;
        padding-right: 0px;
    }
    
    body > aside > * {
        padding-left: 0px;
    }
    
    body > aside div {
        text-align: center;
        align-items: center;
    }
    
    img#info, div#info-box,div#info-box::after, body > aside nav {
        display: none;
    }
    
    section {
        width: 101%;
        height: auto;
        left: 0%;
        top: -45px;
        background: transparent;
        z-index: 1;
    }
    
    section > * {
        background-color: white;
        overflow: hidden;
    }
    
    section header {
        padding: 0px;
        text-align: center;
        justify-content: center;
        position: static;
    }
    
    section:not(:first-of-type) header:not(.alternative) {
        padding-top: 35px;
        padding-bottom: 35px;
        background: transparent;
    }
    
    section:not(:first-of-type) header:not(.alternative) h1 {
        border-bottom: 4px solid white;
        color: white;
    }
    
    section nav {
        display: none;
    }
    
    section header div {
        display: none;
    }
    
    section article, section aside {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 2px;
    }
    
    section article ul, section aside ul {
        padding: 0px;
    }
    
    section p {
        text-align: justify;
    }
}

@media only all and (max-height: 640px) {
    #aside-background {
        height: 90%;
    }
}

@media only all and (orientation: landscape) and (max-width: 1000px) {
    #aside-background {
        height: 150vh !important;
    }
}
