html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

}

body {
    background: white;
    color: black;
    display: flex;
    overflow-x: hidden;
}

::selection {
    color: white;
    background: #e47800;
}

::-moz-selection {
    color: white;
    background: #e47800;
}

.wow {
    visibility: hidden;
}

section {
    border: none;
    padding: 25px 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img#avatar {
    max-height: 70vh;
    max-width: 70vw;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

nav > * {
    margin: 0px 3vmin;
}

nav img {
    height: 5vmin;
}

nav a {
    transition: all .3s ease-out;
    border-bottom: 5px solid transparent;
}

nav a:hover {
    border-bottom: 5px solid black;
}

@media only all and (orientation: portrait), only all and (max-width: 950px) {

    section {
        flex-direction: column;
    }
    
    article {
        border-left: none;
        padding-left: 0px;
    }
    
    aside {
        margin-right: 0px;
        margin-bottom: 30px;
        height: auto !important;
    }
    
    aside img {
        max-height: 30vh;
    }
    
    article h1 {
        text-align: center;
        font-size: 7vmin;
    }
    
    article p {
        font-size: 3.8vmin;
        width: 90%;
        padding: 0px 5%;
    }
    
    nav {
        justify-content: space-between;
        padding: 0px 10%;
        margin-top: 8vh;
    }
    
    nav img {
        height: 12vmin;
    }
}
