body.loading {
    overflow: hidden;
}

div#loader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    background: white;
    z-index: 999;
    display: flex;
    
    animation: loaderExit 0.5s ease-in forwards 1;
    animation-play-state: paused;
}

@keyframes loaderExit {
    0% {opacity: 1; z-index: 999;}
    99.999% {opacity: 0; z-index: 999;}
    100% {opacity:0; z-index: -999;}
}

div#loader svg {
    margin: auto;
    width: 20rem;
    max-width: 60vw;
    position: relative;
    left: 2vmax;
}

div#loader svg path.drawing-1 {
    stroke-dasharray: 184.7021026611328;
    stroke-dashoffset: 184.7021026611328;
    animation: draw1 0.15s cubic-bezier(.96,.2,.83,.67) forwards 1;
    animation-delay: 0.5s;
}

@keyframes draw1 {
    from {
        stroke-dashoffset: 184.7021026611328;
    }
    to {
        stroke-dashoffset: 0;
    }
}

div#loader svg path.drawing-2 {
    stroke-dasharray: 296.7732238769531;
    stroke-dashoffset: 296.7732238769531;
    animation: draw2 0.5s cubic-bezier(.5,1.12,.48,.07) forwards 1;
    animation-delay: 0.8s;
}

@keyframes draw2 {
    from {
        stroke-dashoffset: 296.7732238769531;
    }
    to {
        stroke-dashoffset: 0;
    }
}

div#loader svg path.drawing-3 {
    stroke-dasharray: 165.54428100585938;
    stroke-dashoffset: 165.54428100585938;
    animation: draw3 0.2s cubic-bezier(.96,.2,.83,.67) forwards 1;
    animation-delay: 1.3s;
}

@keyframes draw3 {
    from {
        stroke-dashoffset: 165.54428100585938;
    }
    to {
        stroke-dashoffset: 0;
    }
}

div#loader svg path.drawing-4 {
    stroke-dasharray: 334.544921875;
    stroke-dashoffset: 334.544921875;
    animation: draw4 0.3s ease-in forwards 1;
    animation-delay: 1.7s;
}

@keyframes draw4 {
    from {
        stroke-dashoffset: 334.544921875;
    }
    to {
        stroke-dashoffset: 0;
    }
}