body {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

section {
    height: 100vh;
    width: 80vw;
    display: inline-grid;
    vertical-align: top;
    white-space: normal;
}

@media (orientation: portrait) {
    body {
        width: 100vw;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: normal;
    }
    
    section {
        height: auto;
        width: 100vw;
    }
}

/* landing */

section#landing {
    display: inline-flex;
    background: url("../assets/background.jpg") no-repeat;
    background-size: 115vw;
    background-attachment: fixed;
    background-position: 0vw center;
    width: 100vw;
    height: 100vh;
}

@media (orientation: portrait) {
    section#landing {
        background-size: cover;
        background-position: center center;
    }
}

section#landing div.title {
    margin: auto;
    display: grid;
    grid-template:
        "photo title" 62%
        "photo subtitle" 38% / 16rem;
    position: relative;
}

@media (orientation: portrait) {
    section#landing div.title {
        grid-template:
            "photo" 0.5fr
            "title" 0.5fr
            "subtitle" 0.5fr / 80vw;
    }
}

section#landing div.title div.slanted-box {
    display: none;
}

@media (orientation: landscape) {
    section#landing div.title div.slanted-box {
        display: block;
        background: white;
        width: 37rem;
        height: 30rem;
        max-height: 90vh;
        position: absolute;
        top: -12vh;
        left: -7vw;
        clip-path: polygon(0% 100%, 100% 70%, 100% 23%, 0% 0%);
        transform: rotateY(0deg);
        transform-origin: left;
    }
}

section#landing div.title img {
    grid-area: photo;
    width: 15rem;
    height: 15rem;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
    transform: rotateY(0deg);
    transform-origin: center;
}

@media (orientation: portrait) {
    section#landing div.title img {
        justify-self: center;
        margin-right: 0px;
    }
}

section#landing div.title h1 {
    grid-area: title;
    align-self: end;
    margin: 0;
    font-size: 3rem;
    
    background: #0d1115;
    color: white;
    padding-left: 0.5rem;
    position: relative;
    left: -0.5rem;
}

section#landing div.title h3 {
    grid-area: subtitle;
    align-self: start;
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    position: relative;
}

@media (orientation: portrait) {
    section#landing div.title h3 {
        background: white;
        padding: 2vh;
    }
}

@media (orientation: landscape) {
    section#landing::after {
        content: "";
        height: 100vh;
        width: 5vw;
        background: white;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
}

/* general rules for following sections */

section:not(:first-of-type) {
    box-sizing: border-box;
}

@media (orientation: landscape) {
    section:not(:first-of-type) {
        grid-template:
        "title title transition" 10rem
        "article aside transition" calc(90% - 10rem)
        "padding padding transition" 10% / calc(45% - 2.5vw) calc(55% - 2.5vw) 5vw;
    }
}

@media (orientation: portrait) {
    section:not(:first-of-type) {
        grid-template:
            "title"
            "article"
            "aside" / 100vw;
        padding-top: 6vh;
    }
}

h1.section-header-title {
    font-size: 4rem;
    grid-area: title;
    justify-self: start;
    align-self: center;
    margin: 0;
    position: relative;
    color: #0d1115;
}

h1.section-header-title::before {
    vertical-align: baseline;
    font-weight: 300;
}

@media (orientation: portrait) {
    h1.section-header-title {
        justify-self: center;
        margin-top: 2.1rem;
    }
    
    h1.section-header-title::before {
        position: absolute;
        top: -80%;
    }
}

section:not(:first-of-type) article {
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

section:not(:first-of-type) aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section:not(:first-of-type) article p {
    text-align: justify;
}

section:not(:first-of-type) article, section:not(:first-of-type) aside {
    position: relative;
}

@media (orientation: portrait) {
    section:not(:first-of-type) article, section:not(:first-of-type) aside {
        padding: 2rem;
    }
}

/* "about" */

section#about {
    background: white;
}

section#about h1.section-header-title::before {
    content: "#01 ";
    color: rgba(0,0,0, 0.2);
}

section#about article {
    z-index: 5;
}

section#about article h2 {
    background: #0d1115;
    color: white;
    padding: 0.5rem;
    font-size: 1.7rem;
}

section#about article p {
    font-size: 1.3rem;
}

section#about aside img {
    width: 120%;
    z-index: 0;
}

@media (orientation: landscape) {
    section#about article p {
        background: white;
        border-right: 0.5rem solid white;
    }
    section#about::after {
        content: "";
        grid-area: transition;
        background: #0d1115;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
}

/* contact */

section#contact {
    background: #0d1115;
    color: white;
    z-index: 5;
}

@media (orientation: landscape) {
    section#contact {
        padding-left: 2rem;
    }
}

section#contact h1.section-header-title {
    color: white;
}

section#contact h1.section-header-title::before {
    content: "#02 ";
    color: rgba(255,255,255, 0.4);
}