html, body, section {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body {
    font-family: ralewayregular, sans-serif;
    font-size: 100%;
    background-color: #242424;
    color: lightgrey;
    overflow-x: hidden;
}

::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}

h1 {font-size:3vh;font-family: ralewayblack;}
h2 {font-size:2.6vh;font-family: ralewaythin;}
h3 {font-size:2.4vh;}
h4 {font-size:2vh;}
p  {font-size:2vh;}
h5 {font-size:1.4vh;}
h6 {font-size:1vh;}

strong {
    text-decoration: none;
    font-weight: normal;
    color: #c63030;
}

a, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Top */

section#top {
    text-align: right;
    align-items: flex-end;
}

#top_decoration {
    background-color: #f3f3f3;
    height: 0%;
    width: 80%;
    position: absolute;
    top: 0px;
    left: -30%;
    transform: skewX(-21deg);
    z-index: 2;
    animation-name: top_decoration_load;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes top_decoration_load {
    0% {height: 0%;}
    100% {height: 115%;}
}

#top_photo {
    border-radius: 100%;
    position: absolute;
    top: calc(45% - 127px);
    bottom: calc(55% - 127px);
    margin: 0px;
    padding: 0px;
    left: calc(22% - 127px);
    right: calc(78% - 127px);
    z-index: 3;
    border: 4px solid #cecece;
    opacity: 0;
    animation-name: top_photo_load;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes top_photo_load {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

section#top h1 {
    color: #ffffff;
    margin-right: 0%;
    margin-bottom: 1.5%;
    opacity: 0;
    font-size: 8vh;
    z-index: 3;
    animation-name: top_h1_load;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes top_h1_load {
    0% {opacity: 0; margin-right: 0%;}
    100% {opacity: 1; margin-right: 3%;}
}

section#top p {
    width: 35%;
    margin-right: 3%;
    text-align: justify;
    margin-top: 5%;
    opacity: 0;
    animation-name: top_p_load;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
}

@keyframes top_p_load {
    0% {opacity:0;margin-top:5%;}
    100% {opacity:1;margin-top:1.5%;}
}

/* Middle */

section#middle {
    text-align: center;
    background-color: white;
}

#middle_decoration {
    background-color: #f3f3f3;
    height: 100%;
    width: 67%;
    position: absolute;
    top: 100%;
    left: 15%;
    z-index: 10;
    box-sizing: border-box;
    transform: skewX(60deg);
}

#middle_decoration h1 {
    transform: skewX(-60deg);
    font-size: 5vh;
    color: #242424;
}

#middle_decoration a {
    color: #636363;
    transition: all .3s ease-out;
    font-size: 3vh !important;
    font-family: ralewaythin !important;
}

#middle_decoration a:hover {
    color: #c63030;
}

section#middle article {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #f3f3f3;
    transition: all .5s ease-out;
}

section#middle article:hover, section#middle article:focus, section#middle article:active {
    opacity: .7;
}

#work_1, #work_2 {
    right: 0px;
}

#work_3, #work_4 {
    left: 0px;
}

#work_1 {
    background-color: #f26e41;
    top: 100%;
    width: 80%;
    height: 25%;
    z-index: 0;
}

#work_1 * {
    padding-left: 45%;
}

#work_2 {
    background-color: #84c5e9;
    top: 125%;
    height: 50%;
    width: 50%;
    justify-content: flex-start !important;
    padding-top: 4% !important;
    z-index: 1;
    border-bottom-left-radius: 100%; /* Little fix on werid screen sizes */
}

#work_2 * {
    padding-left: 55%;
}

#work_2 p {
    width: 35%;
}

#work_3 {
    background-color: #e95353;
    top: 125%;
    height: 50%;
    width: 50%;
    justify-content: flex-end !important;
    z-index: 0;
    border-top-right-radius: 100%; /* Little fix on weird screen sizes */
}

#work_3 * {
    padding-right: 55%;
}

#work_3 p {
    padding-bottom: 12%;
    width: 35%;
}

#work_4 {
    background-color: #8ad7b8;
    top: 175%;
    width: 80%;
    height: 25%;
    z-index: 2;
}

#work_4 * {
    padding-right: 45%;
}

/* Middle - Project pages */

section.project {
    position: absolute;
    top: 100%;
    left: 100%;
    opacity: 0;
}

/* In case user disabled Javascript */
section.project:target {
    opacity: 1;
}

section.project article {
    background-color: #f3f3f3;
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0px;
    top: 0px;
    align-items: flex-start !important;
    text-align: justify;
    z-index: 15;
}

section.project article::after {
    content: '';
    width: 55%;
    height: 100%;
    background-color: #f3f3f3;
    position: absolute;
    top: 0px;
    left: 55%;
    transform: skewX(4deg);
    z-index: -1;
}

section.project article * {
    padding: 0px;
    width: calc(100% - 8%);
    padding-left: 4%;
    padding-right: 4%;
    color: #242424;
}

section.project article h1 {
    color: black;
    font-size: 5vh;
}

section.project article p, section.project article a {
    font-size: 2.3vh;
}

section.project article div {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    z-index: 11;
}

section.project article a {
    border: 4px solid #757575;
    width: calc(47% - 8px);
    padding: 1%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    transition: all .3s ease-out;
    border-radius: 3px;
    background-color: #757575;
}

section.project article a:hover {
    background-color: #f3f3f3 !important;
    color: black;
    text-decoration: none;
}

section.project > div {
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0px;
    top: 0px;
}

section#project_1 a[target="_blank"] {
    border: 4px solid #f26e41;
    background-color: #f26e41;
}
section#project_1 > div {
    background: url('https://orne.network/resources/pics/mini-logo.png') no-repeat 60% center;
    background-size: 35%;
    background-color: #f26e41;
}

section#project_2 a[target="_blank"] {
    border: 4px solid #84c5e9;
    background-color: #84c5e9;
}
section#project_2 > div {
    background: url('/resources/pics/idontcare.svg') no-repeat 60% center;
    background-size: 35%;
    background-color: #84c5e9;
}

section#project_3 a[target="_blank"] {
    border: 4px solid #e95353;
    background-color: #e95353;
}
section#project_3 > div {
    background: url('/resources/pics/life.svg') no-repeat 60% center;
    background-size: 35%;
    background-color: #e95353;
}

section#project_4 a[target="_blank"] {
    border: 4px solid #8ad7b8;
    background-color: #8ad7b8;
}
section#project_4 > div {
    background: url('https://codebrew.fr/resources/pics/biglogo.svg') no-repeat 60% center;
    background-size: 50%;
    background-color: #242424;
}

/* Contact and footer */

#bottom_decoration {
    height: 115%;
    z-index: 5;
    background-color: #f3f3f3;
    width: 60%;
    transform: skewX(-30deg);
    position: absolute;
    right: 0px;
    top: 185%;
}

#bottom_decoration > * {
    transform: skewX(30deg);
    color: black;
}

#bottom_decoration form {
    justify-content: space-around;
    height: 50%;
    width: 50%;
}

#bottom_decoration input, #bottom_decoration textarea {
    background-color: white;
    border: 4px solid white;
    width: 100%;
    padding: 2%;
    font-family: ralewayregular;
    font-size: 2.1vh;
    border-radius: 3px;
    box-shadow: none;
    transition: all .5s ease-out;
}

#bottom_decoration input:focus, #bottom_decoration textarea:focus {
    background-image: none !important;
    border-bottom: 4px solid #cecece !important;
}

#bottom_decoration input:hover, #bottom_decoration textarea:hover {
    border-bottom: 4px solid #c63030 !important;
}

#bottom_decoration input[name="name"] {
    background: url("/resources/pics/name.svg") no-repeat right center;
    background-size: contain;
    background-color: white;
}

#bottom_decoration input[name="email"] {
    background: url("/resources/pics/email.svg") no-repeat right center;
    background-size: contain;
    background-color: white;
}

#bottom_decoration input:invalid, #bottom_decoration textarea:invalid {
    border: 4px solid white;
}

#bottom_decoration textarea {
    height: 30% !important;
    width: 100% !important;
    font-size: 1.9vh;
}

#bottom_decoration input:last-of-type {
    width: 106% !important;
    cursor: pointer;
    background-color: #c63030;
    border: 4px solid #c63030;
    color: white;
}

#bottom_decoration input:last-of-type:hover {
    background-color: white;
    color: black;
}

footer {
    width: 100%;
    background-color: #1c1c1c;
    color: lightgrey;
    text-align: center;
    padding: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
    bottom: -200%;
    z-index: 10;
}
footer p {
    margin: 0px;
}
