/* Main css, applicable for all devices. Internet Explorer IS NOT a device. */

html, body, section {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body {
    font-family: ralewayregular, sans-serif;
    font-size: 100%;
    background-color: #242424;
    color: lightgrey;
    overflow-x: hidden;
}

::selection {
    background: black;
    color: white;
}
::-moz-selection {
    background: black;
    color: white;
}

strong {
    text-decoration: none;
    font-weight: normal;
    color: #c63030;
}

a, a:visited, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
